.address-row {
  display: flex;
  justify-content: space-between;
}
.page-heading h1 {
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    margin: 0;
    padding: 0;
}
.tabs-toggler {
  padding: 1.4rem 6rem;
  height: fit-content;
}

.address-filter-metro {
  display: flex;
  width: 30%;
}
.choices {
  width: 100%;
}
.choices .choices__inner {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}
.metro-icon {
  background-image: url('../../assets/images/metro-image.svg');
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center; 
  display: inline-block;
  vertical-align: middle;
}
