a {
  text-decoration: none;
}
.main-label {
  min-height: 34px;
  min-width: 200px;
  display: flex;
  position: relative;
  max-width: 20rem;
  min-height: 3.4rem;
  line-height: 92%;
  padding-left: 4.8rem;
  align-items: center;
  font-size: 1.8rem;
  text-transform: uppercase; 
  letter-spacing: 0.125rem;
  color: #25A4A1;
}
.main-lable-icon {
  background-image: url(../../assets/images/lable-icon-circle.svg);
  background-size:100%;
  background-repeat: no-repeat;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.main-lable-icon img {
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 40%;
}
.main-categories__paginator {
  margin-left: 7.5rem;
  white-space: nowrap;
}
.swiper-container-main {
  overflow: visible;
  width:75%;

}

.swiper-wrapper {

}
.swiper-slide {
  transition: transform 0.5s ease, filter 0.5s ease; 
}
.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.4;
  transform: scale(0.9);
  filter: grayscale(1);
}

.main-category {
  display: flex;
  flex-direction: column;
}
.main-cartegory-title {
  font-size: 6.4rem;
  color: black;
}
.main-subcategory {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  height: 13.2rem;
  width: 75%;
  border: 1px solid #BDBDBD;
  padding: 2rem 13rem 2rem 5rem;
  color: black;
  justify-content: center;
  border-bottom: none;
}
.main-subcategory:last-child {
  border-bottom: 1px solid #BDBDBD;
}
.main-subcategory-title {
  font-size: 2.4rem;
}
.main-subcategory-count {
  display: inline-block;
  position: relative;
  top: -0.5rem;
  font-size: 1.4rem;
}
.main-subcategory-img {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 9.1rem;
  height: 9.1rem;
  
}
.main-subcategory-img img {
  display: block;
  width: 100%;
}
