.about-us-title {
  font-size: 11rem;
  font-family: 'Century SchoolBook';
  font-weight: 400;
  letter-spacing: -0.2rem;
  display: block;
  text-align: center;
  margin-top: 104px;
}
.row {
  width: 35%;
  margin: 0 auto;
}
.description {
  font-size: 2.4rem;
  color:#25A4A1;
  width: 90%;
  margin: 0 auto 104px;
  text-align: center;
  letter-spacing: -0.02rem;
}
.image-gradient-cont {
  margin-left: 25%;
  width: 50%;
}
.coffee-man-img {
  width: 100%;
}
.moto {
  font-size: 7rem;
  font-family: 'Century Schoolbook';
  font-weight: 400;
  letter-spacing: -0.2rem;
  text-align: center;
  margin: 68px 0 ;
}
.images-row {
  display: flex;
  justify-content: flex-end;
}
.images-row img {
  width: 33.3%;
}
.secret-heading {
  display: inline-block;
  width: 33%;
  margin-left: 33%;
  vertical-align: top;
}
.secret {
  font-family: 'Century Schoolbook','Arial';
  font-weight: 400;
  font-size: 2.4rem ;
  line-height: 108%;
  letter-spacing: -0.02em;
}
.secret-description {
  display: inline-block;
  width: 33%;
  
}
.description-text {
  margin: 0;
  font-size: 1.6rem;
  letter-spacing: 0.045em;
  line-height: 1.44em;
  font-weight: normal;
}
.margin-top-68 {
  margin-top: 68px;
}
.margin-top-104 {
  border-top: 1px solid transparent;
  margin-top: 104px;
}
.values-flexbox {
  display: flex;
  width: 100%;
}
.values-image {
  width: 30%;
}
.values-image img {
  width: 100%;
}
.values-text {
  width: 30%;
  margin-left: 16.6%;
}
.our-values-title {
  color:#25A4A1;
  font-weight: normal;
    font-size: 2.4rem;
    line-height: 108.71%;
    letter-spacing: -0.02em;
}
.traditions {
  font-size: 2.2rem;
}
.image-fullwidth-left > * {
  width: calc(100% + (192rem - 100%) / 2);
  min-width: 100%;
  float: right;
  height: fit-content;
}
.image-fullwidth-left:after {
  content: '';
  display: block;
  clear: both;
}
.image-gradient img {
  width: 100%;
  display: block;
  border: 1px solid transparent;
}
