.footer-wrap {
  background-color: #F9F9F9;
  position: relative;
}
.footer a {
  transition: color 0.5s ease;
}
.footer a:hover {
  color: #25A4A1;
}
.foot {
  display: flex;
  padding-left: 150px;
  position: relative;
}
.footer-logo {
  width: 4rem;
  height: 5.1rem;
  background: url(/images/shered-images/header-logo.svg);
  background-size: cover;
  position: absolute;
  margin-top: 5rem;
  left: 4rem;
}
.footer-sitemap {
  display: flex;
  flex-direction: column;
  width: 16%;
  font-size: 1.2rem;
  padding: 5rem 0 2rem 0;
}
.footer-sitemap a { 
  color: black;
  width: fit-content;
}
.footer-sitemap.info div {
  padding-bottom: 2.5rem;
}
.footer-sitemap.info.padding-left {
  padding-left: 2rem;
}
.footer-social {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 7.2rem;
  margin-top: -310px;
  border: 1px solid rgba(180, 180, 180, 0.479);
}
.footer-social a {
  width: 7.2rem;
  height: 7.2rem;
  border-top: 1px solid rgba(180, 180, 180, 0.479);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social a:first-child {
  border-top: none;
}
.footer-social a svg,
.footer-social a img {
  width: 38%;
  height: 100%;
}
.footer-social a svg {
  fill: rgb(136, 136, 136, 1);
}
.footer-social a:hover {
  background-color: rgba(167, 166, 166, 0.815);
}
.footer-social a:hover svg {
  fill: white;
}

.footer-links {
  display: flex;
  font-size: 1.1rem;
  padding-bottom: 6rem;
  white-space: nowrap;
}
.footer-links-pay img {
  width: 15rem;
}
.footer-links-pay .sbp {
  width: 4rem
}
.footer-adtional {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.footer-adtional div {
  width: 16%;
  overflow-wrap:break-word ;
}
.footer-adtional div {
  word-break: break-word;
  white-space: normal;
  color: rgb(136, 136, 136, 1);
}
.footer-adtional a {
  color: rgb(136, 136, 136, 1);
}