body {
  overflow: hidden;
  margin: 0;
}
.content {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 14.6rem;
}
.screen-scroll {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 13.6rem 0 5rem 0;
  scroll-snap-align: start;
} 
html._screen-scrolling .screen-scroll.screen-scroll-active {
  transform: translateY(0);
}
html._screen-scrolling .screen-scroll {
  transform: translateY(100%); 
}

