.breadcrumbs {
  margin-bottom: 36px;
  padding-top: 36px;
  font-family: 'Futura PT Book';
  font-weight: normal;
  color: #4F5555;
  text-transform: uppercase;
  font-size: 1.4rem; 
  line-height: 92%;
  letter-spacing: 0.045em;
}
.page-heading {
  font-family: 'Century Schoolbook', Arial, Helvetica, sans-serif;
  font-size: 6.4rem;
  line-height: 92.21%;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 36px;
} 
.breadcrumbs a {
  font-family: 'Futura PT Book';
  
  text-transform: uppercase;
  color: #4F5555;
}
.catalog-nav {
  margin: 36px 0;
}
.catalog-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
} 
.catalog-nav-list li  {
  font-size: 1.8rem;
  font-family: 'Futura PT Book', Arial;
  font-weight: normal;
  letter-spacing: 0.045em;
  line-height: 110%;
}
.catalog-nav > 
.catalog-nav-list {
  display: flex;
}
li > .catalog-nav-list {
  padding: 0;
}
.nav-list-root > li {
  margin-left: 3.5rem;
}
.nav-list-root :first-child {
  margin-left: 0;
}  
.catalog-nav-list li {
}

li ul.catalog-nav-list li { 
  margin-top: 2.2rem;
}
li a {
  color: black;
  transition: color 0.3s ease;
}
li a:hover {
  color: pink;
}
.catalog-nav-category {
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.active {
  color: #25A4A1;
  pointer-events: none;
}